{use_macro file="Dataface_Main_Template.html"}
	{fill_slot name="main_column"}
			
		<script type="text/javascript">
			{literal}
			function toggle_all(element, toggle) {
				var e_tog = document.getElementsByName(element);
				for( var i=0; i < e_tog.length; i++ ) { 
					if(toggle) {
						e_tog[i].checked = "checked";
					}
					else {
						e_tog[i].checked = "";
					}
				}
			}
			
			function confirm_submit(form,el) {
				if(confirm("Are you sure?"))
					document.forms[form].elements[el].value = "yes";
				else
					document.forms[form].elements[el].value = "no";
			}
			{/literal}
			</script>
			
	
		<h1>Post Accounts Receivable Entries</h1>
		
		{if $confirm == "error"}
			<p class="portalErrorMessage">{$display_errors}</p>
			<p><a href="index.php?-action=accounts_receivable_post"> Start Over (Post Accounts Receivable).</a></p>
			<p><a href="index.php?-table=dashboard"> Go to Dashboard.</a></p>
		
		{elseif $confirm == "post"}
			{if $display_errors == "true"}
				<p class="portalErrorMessage">The following accounts receivable entries failed to be posted.</p>
			{else}
				<p class="portalMessage">The following accounts receivable entries have been posted. <a href="index.php?-table=dashboard"> Return to Dashboard.</a></p>
			{/if}
			
			<table class="listing resultList">
				<tr>
					<th>ID</th>
					<th>Date</th>
					<th>Customer</th>
					<th>Amount</th>
					{if $display_errors == "true"}<th>Error Message</th>{/if}
				</tr>
				{$i = 0}
				{foreach from=$headers item=list}
					{if $i%2 == 0}
						<tr class="listing odd">
					{else}
						<tr class="listing even">
					{/if}
						<td valign="top"><a href="index.php?-table=accounts_receivable&-action=browse&-recordid=accounts_receivable?voucher_id={$list.id}">{$list.id}</a></td>
						<td valign="top"><a href="index.php?-table=accounts_receivable&-action=browse&-recordid=accounts_receivable?voucher_id={$list.id}">{$list.date}</a></td>
						<td valign="top"><a href="index.php?-table=accounts_receivable&-action=browse&-recordid=accounts_receivable?voucher_id={$list.id}">{$list.amount}</a></td>
						<td valign="top"><a href="index.php?-table=accounts_receivable&-action=browse&-recordid=accounts_receivable?voucher_id={$list.id}">{$list.customer}</a></td>
						{if $display_errors == "true"}<td valign="top">{$list.error_msg}</td>{/if}
					</tr>
					{assign var="i" value=$i+1}
				{/foreach}
			</table>
			
		{elseif $confirm == "review"}
			<p>Review and confirm the following billable entries to be posted:</p>

			<!--form name="select_post" onSubmit='confirm_submit("select_post","confirm_post")'-->
			<form name="select_post">
				<input type="hidden" name="-action" value="accounts_receivable_post">
				<input type="hidden" name="confirm_post" value="post">
							
				<table class="listing resultList">
					<tr>
					<th>ID</th>
					<th>Date</th>
					<th>Customer</th>
					<th>Invoice ID</th>
					<!--th>Invoice Date</th-->
					<th>Receivables Account</th>
					<th>Amount</th>
					<th>Revenue Accounts</th>
					<th>Amount</th>
					</tr>
					{if $headers == null}
						<tr><td colspan="8"><b>No entries were selected.</b></td></tr></table>
						<input type="button" onclick="history.back();" value="Back">
					{else}
						{$i = 0}
						{foreach from=$headers item=list}
							{if $i%2 == 0}
								<tr class="listing odd">
							{else}
								<tr class="listing even">
							{/if}
								<input type="hidden" name="select_entries[]" value="{$list.id}">
								<td valign="top"><a href="index.php?-table=accounts_receivable&-action=browse&-recordid=accounts_receivable?voucher_id={$list.id}">{$list.id}</a></td>
								<td valign="top"><a href="index.php?-table=accounts_receivable&-action=browse&-recordid=accounts_receivable?voucher_id={$list.id}">{$list.date}</a></td>
								<td valign="top"><a href="index.php?-table=accounts_receivable&-action=browse&-recordid=accounts_receivable?voucher_id={$list.id}">{$list.customer}</a></td>
								<td valign="top"><a href="index.php?-table=accounts_receivable&-action=browse&-recordid=accounts_receivable?voucher_id={$list.id}">{$list.invoice}</a></td>
								<td valign="top"><a href="index.php?-table=accounts_receivable&-action=browse&-recordid=accounts_receivable?voucher_id={$list.id}">{$list.rec_acct}</a></td>
								<td valign="top"><a href="index.php?-table=accounts_receivable&-action=browse&-recordid=accounts_receivable?voucher_id={$list.id}">{$list.rec_amount}</a></td>
								<td valign="top"><a href="index.php?-table=accounts_receivable&-action=browse&-recordid=accounts_receivable?voucher_id={$list.id}">{$list.rev_accts}</a></td>
								<td valign="top"><a href="index.php?-table=accounts_receivable&-action=browse&-recordid=accounts_receivable?voucher_id={$list.id}">{$list.rev_amounts}</a></td>
							</tr>
							{assign var="i" value=$i+1}
						{/foreach}
						</table>
						<input type="submit" value="Post">
						<input type="button" onclick="history.back();" value="Back">
					{/if}
			</form>

		{elseif $headers}
			<p>Select the following billable entries to be posted:</p>

			<form name="select_post">
				<input type="hidden" name="-action" value="accounts_receivable_post">
				<input type="hidden" name="confirm_post" value="review">
							
				<table class="listing resultList">
					<tr>
						<th><input type="checkbox" checked onchange=toggle_all("select_entries[]",this.checked)></th>
					<th>ID</th>
					<th>Date</th>
					<th>Customer</th>
					<th>Invoice ID</th>
					<!--th>Invoice Date</th-->
					<th>Receivables Account</th>
					<th>Amount</th>
					<th>Revenue Accounts</th>
					<th>Amount</th>
					</tr>
					{$i = 0}
					{foreach from=$headers item=list}
						{if $i%2 == 0}
							<tr class="listing odd">
						{else}
							<tr class="listing even">
						{/if}
							<td><input type="checkbox" name="select_entries[]" value="{$list.id}" checked="checked"></td>
							<td valign="top"><a href="index.php?-table=accounts_receivable&-action=browse&-recordid=accounts_receivable?voucher_id={$list.id}">{$list.id}</a></td>
							<td valign="top"><a href="index.php?-table=accounts_receivable&-action=browse&-recordid=accounts_receivable?voucher_id={$list.id}">{$list.date}</a></td>
							<td valign="top"><a href="index.php?-table=accounts_receivable&-action=browse&-recordid=accounts_receivable?voucher_id={$list.id}">{$list.customer}</a></td>
							<td valign="top"><a href="index.php?-table=accounts_receivable&-action=browse&-recordid=accounts_receivable?voucher_id={$list.id}">{$list.invoice}</a></td>
							<td valign="top"><a href="index.php?-table=accounts_receivable&-action=browse&-recordid=accounts_receivable?voucher_id={$list.id}">{$list.rec_acct}</a></td>
							<td valign="top"><a href="index.php?-table=accounts_receivable&-action=browse&-recordid=accounts_receivable?voucher_id={$list.id}">{$list.rec_amount}</a></td>
							<td valign="top"><a href="index.php?-table=accounts_receivable&-action=browse&-recordid=accounts_receivable?voucher_id={$list.id}">{$list.rev_accts}</a></td>
							<td valign="top"><a href="index.php?-table=accounts_receivable&-action=browse&-recordid=accounts_receivable?voucher_id={$list.id}">{$list.rev_amounts}</a></td>
						</tr>
						{assign var="i" value=$i+1}
					{/foreach}
				</table>
				<input type="submit" value="Review Selected">
			</form>
			
		{else}
			<p class="portalMessage">There are currently no accounts receivable entries ready for posting. <a href="index.php?-table=dashboard"> Return to Dashboard.</a></p>
		{/if}
	{/fill_slot}
{/use_macro}